<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/style.css">
    <title>Authentification</title>
</head>
<body>
    <div>
        <h1>Authentification</h1>
    </div>
    <div>
        <!-- utilisation de l' api post -->
         <form method="post" action="/register">
            <div class="content-register">
                <label for="">Users</label>
              <input type="text" name="users"><!-- name -->
               <label for="">Password</label>
               <input type="password" name="password">
            </div>
                   
                <div>
                    <button type="submit">Register</button>
                </div>
         </form>
    </div>


    <div class="login">

           <form method="post" action="/login">

            <div class="content-Login">
                <label for="">Users Login</label>
              <input type="text" name="usersLogin"><!-- name -->
               <label for="">Password Login</label>
               <input type="password" name="passwordLogin">
            </div>
                   
                <div>
                    <button type="submit">Login</button>
                </div>
           </form>

    </div>
</body>
</html>